<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">

    <th:block layout:fragment="content">
        <div id="main">
            <div class="mt-5">
                <i class="fa-solid fa-images fa-2xl"> 파일럿 프로그램 </i>
                <hr>
            </div>

            <div>
                <p th:text="${title}"></p>
                <p th:text="${content}"></p>

                <p th:text="${attach}"></p>
                <p th:text="${filename}"></p>
                <p th:text="${filetype}"></p>
                <p th:text="|${filesize} KB|"></p>
                <p th:text="${uuid}"></p>
            </div>

            <div>
                <p><a href="/pilot/down?pno=1">이미지</a></p>
                <p><a href="/pilot/down?pno=2">텍스트</a></p>
                <p><a href="/pilot/down?pno=3">압축파일</a></p>
            </div>

            <div>
                <p><a href="/assets/pilot/gendo.jpg">이미지2</a></p>
                <p><a href="/assets/pilot/write.html">텍스트2</a></p>
                <p><a href="/assets/pilot/newOne.zip">압축파일2</a></p>
            </div>

            <div>
                <img src="/pilot/showimg">
            </div>

        </div>

    </th:block>

</html>