<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">

    <th:block layout:fragment="content">
        <div id="main">
            <div class="mt-5">
                <i class="fa-solid fa-download fa-2xl"> 자료실 </i>
                <hr>
            </div>

            <div class="row mt-5">
                <div class="row offset-2 col-4">
                    <button type="button" class="btn btn-light col-4" id="prevbtn">
                        <i class="fa fa-chevron-left"> </i> 이전게시물
                    </button>&nbsp;
                    <button type="button" class="btn btn-light col-4" id="nextbtn">
                        <i class="fa fa-chevron-right"> </i> 다음게시물
                    </button>
                </div>
                <div class="col-4 text-end">
                    <th:block th:if="${session.UID ne null}">
                        <button type="button" class="btn btn-success" id="newbtn">
                            <i class="fa fa-plus-circle"> </i> 새글쓰기
                        </button>
                    </th:block>
                </div>
            </div>

            <div class="row mt-2 offset-2 col-8">
                <table>
                    <tr>
                        <th class="vtit" colspan="2" th:text="${pds.title}">&nbsp;</th>
                    </tr>

                    <tr class="vinfo">
                        <td class="text-start" th:text="${pds.userid}">&nbsp;</td>
                        <td class="text-end" th:text="|${pds.regdate} / ${pds.thumbs} / ${pds.views}|">2023-05-05 12:12:12 / 0 / 0</td>
                    </tr>

                    <tr><td class="vcont" colspan="2" th:text="${pds.content}">
                        &nbsp;
                    </td></tr>
                    <tr>
                        <td class="vinfo" colspan="2">
                            <img th:src="|/assets/img/ftype/${attach.ftype}.png|"
                                width="35" height="35">
                            <a th:href="|/pds/down?pno=${pds.pno}|"
                               th:text="${attach.fname}"></a>
                            <span th:text="|(${attach.fsize} KB/${attach.fdown}회 다운로드)|"></span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row mt-2">
                <div class="row offset-2 col-4">
                    <th:block th:if="${not #strings.isEmpty(session.UID)}">
                        <button type="button" class="btn btn-warning col-4" id="updbtn">
                            <i class="fa fa-pencil"> </i> 수정하기
                        </button>&nbsp;
                        <button type="button" class="btn btn-danger col-4" id="rmvbtn">
                            <i class="fa fa-trash-o"> </i> 삭제하기
                        </button>
                    </th:block>
                </div>
                <div class="col-4 text-end">
                    <button type="button" class="btn btn-light" id="listbtn">
                        <i class="fa fa-list"> </i> 목록으로
                    </button>
                </div>
            </div>

            <div class="mt-5">
                <i class="fa-solid fa-comments fa-2xl"> 나도 한마디 </i>
            </div>

            <div class="row mt-5">
                <div class="offset-2 col-8">
                    <table class="table" style="border-top: 3px solid black;
                                                border-bottom: 3px solid black">

                        <tr th:each="rp : ${rplist}">
                            <th:block th:if="${rp.rpno eq rp.refno}">
                                <!-- 댓글시작 -->
                                <td style="width:25%"><h4 th:text="${rp.userid}"></h4></td>
                                <td>
                                    <div style="background: yellow; padding: 5px"> [[${rp.regdate}]]
                                       <span style="float: right">[추가] / [수정] / [삭제]</span> </div>
                                    <p style="padding: 5px 0" th:text="${rp.reply}"></p>
                                </td>
                            </th:block>

                            <th:block th:if="${rp.rpno ne rp.refno}">
                                <!-- 대댓글시작 -->
                                <td style="width:25%"><h4>&nbsp;</h4></td>
                                <td>
                                    <div style="background: lime; padding: 5px"> [[${rp.userid}]]
                                        <span style="float: right" th:text="|${rp.regdate} [수정] / [삭제]|"></span> </div>
                                    <p style="padding: 5px 0" th:text="${rp.reply}"></p>
                                </td>
                            </th:block>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="row mt-5">
                <div class="offset-2 col-8">
                    <form name="rpfrm" id="rpfrm" class="bg-light p-3">
                        <div class="row align-items-center">
                            <label class="col-2 form-label">로그인하세요</label>

                            <div class="col-8">
                                <textarea id="reply" name="reply"
                                    rows="7" class="form-control"></textarea>
                            </div>

                            <div class="col-2">
                                <button type="button" class="btn btn-secondary"
                                    id="rpnewbtn">
                                    <i class="fa fa-commenting"></i> 댓글쓰기</button>
                            </div>
                            <input type="hidden" name="userid" id="userid" th:value="${session.UID}">
                            <input type="hidden" name="pno" id="pno" th:value="${pds.pno}">
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <script src="/assets/js/pds.js"></script>
    </th:block>

</html>